# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Compilado do TypeScript
dist/

# Logs
*.log

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.pem
*.key
*.crt
*.db
*.sqlite
*.sqlite3
